.article {
  width: 100%;
  padding-bottom: 40px;
  padding-right: 15px;
}

.article:hover .cardLink .link {
  text-decoration: underline;
  text-decoration-color: var(--red-light);
}

.img {
  border-radius: 3px;
  width: 250px;
  height: 275px;
  object-fit: cover;
}

.cardLink {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  display: flex;
  align-items: baseline;
}

.arrow {
  min-width: 15px;
  margin-left: 12px;
}

@media only screen and (min-width: 500px) {
  .img {
    width: 300px;
    height: 350px;
  }
}

@media only screen and (min-width: 950px) {
  .img {
    width: 320px;
    height: 380px;
  }
}

@media only screen and (min-width: 1200px) {
  .img {
    width: 340px;
    height: 410px;
  }
}
