.article {
  width: 100%;
  padding-bottom: 40px;
  padding-right: 15px;
}

.img {
  width: 250px;
  height: 275px;
  object-fit: cover;
}

.cardLink {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cardLink img {
  width: 14px;
}
