.navbar {
  width: 40px;
  height: 20px;
  position: relative;
  z-index: 5;
}

.container {
  height: 100%;
}

.container:hover .hamburger1,
.container:hover .hamburger2,
.container:hover .hamburger3 {
  background-color: var(--gray-light);
}

.navbar input {
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.navbar input:checked ~ ul {
  opacity: 1;
  visibility: visible;
}

.navbar input:checked ~ .hamburger1 {
  transform: rotate(45deg);
  transform-origin: top left;
  background-color: var(--red-dark);
  width: 40px;
}

.navbar input:checked ~ .hamburger2 {
  opacity: 0;
  transform: translateX(-20px);
}

.navbar input:checked ~ .hamburger3 {
  top: 27.5px;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 40px;
  background-color: var(--red-dark);
}

.navbar ul {
  position: absolute;
  transition: opacity 0.3s cubic-bezier(0.83, 0, 1, 1.02);
  opacity: 0;
  width: 450px;
  max-width: 90vw;
  margin: -25px 0 0 -23px;
  border-radius: 5px;
  padding: 60px 25px 25px 100px;
  background: #fff;
  visibility: hidden;
}

.navbar li {
  font-size: 20px;
  margin-bottom: 30px;
}

.navbar span {
  background-color: var(--gray);
  display: block;
  position: absolute;
  height: 2.5px;
  border-radius: 100px;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}

.hamburger1 {
  top: 0px;
  width: 30px;
}

.hamburger2 {
  top: 9px;
  width: 40px;
}

.hamburger3 {
  top: 18px;
  width: 30px;
}
