.imageSlider {
  height: calc(100vh - 400px);
  min-height: 300px;
  position: relative;
}

.img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.heading {
  margin-top: -200px;
  position: relative;
  z-index: 2;
  visibility: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  display: block;
}

@media only screen and (min-width: 700px) {
  .imageSlider {
    height: 85vh;
    margin-top: -241px;
    opacity: 0.95;
    position: relative;
  }

  .overlay {
    background-color: black;
    opacity: 0.75;
    position: relative;
  }

  .heading {
    visibility: visible;
  }
}

@media only screen and (min-width: 950px) {
  .imageSlider {
    margin-top: -254px;
  }

  .heading {
    margin-top: -215px;
  }
}

@media only screen and (min-width: 1200px) {
  .imageSlider {
    margin-top: -268px;
  }

  .heading {
    margin-top: -230px;
  }
}
