.hr {
  height: 3px;
  background-color: var(--red-dark);
}

.header {
  padding-top: 32px;
}

.footer {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: var(--gray-dark);
}

.footerLinks {
  margin-top: 20px;
}

.footerLinks li {
  padding-bottom: 12px;
}

.footerLinks a {
  color: var(--gray);
  transition: all 0.2s ease-in;
}

.footerLinks a:hover {
  color: var(--gray-light);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footerRight {
  align-self: end;
  justify-self: end;
}

.contact {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 40px);
  gap: 16px;
  margin-top: 20px;
}

.contact img {
  width: 100%;
}

.copyright {
  color: var(--gray);
  text-align: right;
  font-size: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 500px) {
  .copyright {
    font-size: 12px;
  }
}

@media only screen and (min-width: 700px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 750px) {
  .copyright {
    font-size: 14px;
  }

  .contact {
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 50px);
    gap: 20px;
  }
}

@media only screen and (min-width: 950px) {
  .copyright {
    font-size: 16px;
  }

  .footer {
    padding-top: 110px;
    padding-bottom: 60px;
  }

  .contact {
    grid-template-columns: repeat(3, 55px);
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    padding-top: 130px;
    padding-bottom: 65px;
  }
}
