.hr {
  height: 3px;
  background-color: var(--red);
}

.header {
  padding-top: 32px;
}

.footer {
  padding-top: 72px;
  padding-bottom: 40px;
  background-color: var(--gray-dark);
}

.footerLinks {
  margin-top: 40px;
}

.footerLinks li {
  padding-bottom: 12px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footerRight {
  align-self: end;
  justify-self: end;
}

.contact {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  gap: 16px;
  margin-bottom: 20px;
}

.contact img {
  width: 100%;
}

.copyright {
  color: var(--gray);
  text-align: right;
  font-size: 12px;
}
