.slideDownButton {
  width: 16px;
  height: 40px;
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  display: inline-block;
  border: 1px solid var(--gray-light);
  border-radius: 999px;
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--red);
  right: 2px;
  border-radius: 999px;
  top: 2.5px;
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: translateY(22px);
  }

  70% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(22px);
  }
}
