.slideDownButton {
  width: 16px;
  height: 40px;
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  display: inline-block;
  border: 2px solid var(--gray-dark);
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
}

.slideDownButton:hover {
  border-color: var(--gray);
}

.slideDownButton:hover .circle {
  background-color: var(--red);
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--red-dark);
  right: 1px;
  border-radius: 999px;
  top: 2px;
  animation: pulse 3s infinite ease-in-out;
  transition: all 0.3s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: translateY(22px);
  }

  70% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(22px);
  }
}

@media only screen and (min-width: 700px) {
  .slideDownButton {
    bottom: 24px;
  }
}
