.videos {
  padding-top: 24px;
}

.video {
  margin-bottom: 24px;
  width: 100%;
  width: 302px;
  height: 166px;
}

@media only screen and (min-width: 400px) {
  .videos iframe {
    width: 400px;
    height: 224px;
  }
}

@media only screen and (min-width: 500px) {
  .videos iframe {
    width: 444px;
    height: 250px;
  }
}

@media only screen and (min-width: 750px) {
  .videos iframe {
    width: 560px;
    height: 310px;
  }
}
