.heading {
  padding-top: 64px;
  padding-bottom: 40px;
}

.hero {
  height: calc(100vh - 50px);
}

.news {
  padding-top: 24px;
  padding-left: 30px;
}

.media {
  padding-top: 72px;
  padding-left: 30px;
  padding-bottom: 120px;
}

@media screen and (min-width: 1200px) {
  .news,
  .media {
    margin-left: calc((100vw - 1200px) / 2);
  }
}
