.container {
  max-width: 800px;
  margin: 100px auto 80px auto;
  text-align: center;
}

.tabs {
  overflow: hidden;
}

.tab {
  margin: 0 20px 32px 20px;
  background-color: var(--gray-dark);
  color: var(--gray-light);
  border-radius: 5px;
  box-shadow: 0 5px 3px 0 rgba(37, 37, 37, 0.18);
  position: relative;
}

.tab:first-child {
  margin-top: 40px;
}

.input {
  position: absolute;
  opacity: 0;
  z-index: -5;
}

.label {
  cursor: pointer;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svg {
  height: 28px;
  transition: transform 0.3s ease;
}

.award a {
  margin-left: 8px;
  color: var(--red-dark);
}

.hiddenContent {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease;
  background-color: #f4f6f8;
  color: #677381;
  border-radius: 0 0 5px 5px;
  font-weight: 400;
}

.b {
  color: var(--gray-dark);
  font-weight: 500;
  margin-right: 8px;
}

.medal {
  width: 38px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.award {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.award p {
  text-align: left;
}

.padding {
  padding: 40px;
}

.padding > div {
  margin-bottom: 72px;
}

.hiddenContent div:last-child {
  margin-bottom: 0;
}

.hiddenContent h3 {
  color: var(--gray-dark);
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 24px;
}

.input:checked ~ .hiddenContent {
  max-height: 600vh;
  opacity: 1;
}

.input:checked ~ .label .svg {
  transform: rotate(90deg);
}
