.container {
  max-width: 600px;
  margin: 100px auto 80px auto;
  text-align: center;
}

.tabs {
  overflow: hidden;
}

.tab {
  margin-bottom: 32px;
  padding: 18px 0;
  background-color: var(--gray-dark);
  color: var(--gray-light);
  border-radius: 5px;
  box-shadow: 0 5px 3px 0 rgba(37, 37, 37, 0.18);
  position: relative;
}

.input {
  position: absolute;
  opacity: 0;
  z-index: -5;
}

.label {
  cursor: pointer;
  display: block;
}

.hiddenContent {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
  background-color: white;
  border: 1px solid var(--gray-dark);
  margin-bottom: -18px;
  margin-top: 18px;
}

.input:checked ~ .hiddenContent {
  max-height: 100vh;
  opacity: 1;
}
