.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-align: center;
}

.h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.labelH1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 12%;
  font-size: 14px;
  color: var(--red);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 8px;
}
