.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-align: center;
  line-height: 1.2;
}

.h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 36px;
  line-height: 1.2;
}

.h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: var(--gray);
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
}

.labelH1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  color: var(--red);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 8px;
}

.labelCards {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--red);
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 6px;
}

.footerLink {
  color: var(--gray-light);
  font-size: 12px;
}

@media only screen and (min-width: 500px) {
  .h1 {
    font-size: 50px;
  }

  .h2 {
    font-size: 32px;
  }

  .h3 {
    font-size: 18px;
  }

  .footerLink {
    font-size: 14px;
  }
}

@media only screen and (min-width: 750px) {
  .h1 {
    font-size: 58px;
  }

  .h2 {
    font-size: 36px;
  }

  .h3 {
    font-size: 22px;
  }

  .footerLink {
    font-size: 16px;
  }
}
